<html>
    <body>
        <img class="x" src="assets/red_x.png">
        <br>
        <h1 class="confirm">Are You Sure?</h1>
        <p class="confirm warning">This process cannot be undone</p>
        <br><br>
        <div class="buttons">
            <button (click)="cancel()" class="button" style="background-color: #C8C8C8;">Cancel</button>
            <span style="padding-left: 3%;"></span>
            <button (click)="delete()" class="button" style="background-color: #cc2900;">Delete</button>
        </div>
    </body>
</html>