<body style="overflow-x: hidden;" class="popup">
    <div class="top_decoration"></div>
    <div style="margin-left: 20px;">
        <h3>Global Presets</h3>

        <div *ngIf="selectorsLoaded">
            <app-reusable-template [feature]="globalSelectors" [appliedFilterSelections]="appliedFilterSelections"
                [returnableIDs]="globalReturnableIDs">
            </app-reusable-template>
        </div>
    </div>

    <div class="action-button-group">
        <button mat-button (click)="close()" style="margin-right: 10px;">
            Cancel
        </button>
        <button mat-button (click)="close()" style="background-color: #569CD7; color: white;">
            Save
        </button>
    </div>
</body>