/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500&display=swap');
html * {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}

html, body {
  height: 100%;
}



.mat-toolbar {
  background-color: rgb(86, 156, 215);
  color: white;
  width: 100%;
}

.mat-button {
  color: white;
  font-weight: 500;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-stroked-button {
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
  font-weight: 500;
}

.sidenav-container {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  height: 100%
}

.sidenav {
  width: 18%;
  text-align: center;
  border: 0px solid;
  border-top-color: rgb(166, 166, 255);
  border-top-width: 10px;
  padding-top: 10px;
  

}

.close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#index {
  text-align: center;
}

#app {
  text-align: center;
}


#audit-table-container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80%;
  padding: 20px;
  border-radius: 4px;
  background-color: white;

}

#upload-button {
  text-align: right;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}


#table-paginator{
  display: flex;
  justify-content: center;
  font-size: x-small;
  padding-top: 7px;
}

.mat-cell, .mat-header-cell {
  font-size: x-small;
  min-height: auto;
  padding: 5px 30px 5px 0px;
  text-align: left;
}