/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500&display=swap');

html * {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.mat-toolbar-row {
  background-color: rgb(25, 85, 250);
  color: white;
}

.mat-button {
  color: white;
  font-weight: 500;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-stroked-button {
  margin-top:10px;
  margin-bottom:10px;
  color: gray;
  font-weight: 500;
}

.alert {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
    border-radius: 3px;
    background-color: rgb(82, 153, 76); /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

#index {
  text-align: center;
}

#app{
  text-align: center;
}

#audits {
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
 text-align: left;
 width:90%;
 padding: 40px;
}
 