node_modules/*
PostgreSQL/data/*
PostgreSQL/logs/*
Deployment/*
pg_upgrade_internal.log
pg_upgrade_server.log
pg_upgrade_utility.log

# exclude
!node_modules/.gitkeep
!PostgreSQL/data/.gitkeep
!Deployment/Angular/dist/.gitkeep
!Deployment/Express/.gitkeep
!Deployment/Authentication/.gitkeep

.env
.DS_Store

# computed returnables
Express/dataRepresentation/auditSchemas/*/returnables/

# schema dependent assets
Express/dataRepresentation/schemaAssets/*
!Express/dataRepresentation/schemaAssets/.gitkeep

# helpers
Express/queryTester.js
PostgreSQL/scratch.txt