node_modules/*
PostgreSQL/data/*
Deployment/Angular/dist/*
# exclude
!node_modules/.gitkeep
!PostgreSQL/data/.gitkeep
!Deployment/Angular/dist/.gitkeep

.env

.DS_Store

# computed returnables
Express/dataRepresentation/auditSchemas/*/returnables/

Express/queryTester.js

PostgreSQL/scratch.txt