node_modules/*
PostgreSQL/data/*
# exclude
!node_modules/.gitkeep
!PostgreSQL/data/.gitkeep

.env

.DS_Store

# computed returnables
Express/dataRepresentation/auditSchemas/*/returnables/

Express/queryTester.js