.about-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-container mat-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: left;
    width: 24rem;
    border-radius: 4px;
    background-color: white;
  }