<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>What is The Data Grid?</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
              <br>
              <p>
                The Data Grid is an evolving open source software distribution 
                that helps communities monitor and improve their resource usage.
                 It is composed of a web application and mobile data collection 
                 app for in-field data collection.
                </p>
          </mat-card-content>
    </mat-card>
</body>
</html>