<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="about-container" fxLayout="row wrap" fxLayoutAlign="space-around start" >
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>What is The Data Grid?</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                The Data Grid is a data management website
                that helps communities monitor and improve their resource usage.
                It is composed of a web application and mobile data collection
                app for in-field data collection.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>What is the purpose of The Data Grid?</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                To get an accurate and detailed picture of resource usage
                within our communities. Building an accurate and detailed
                picture of the collective impact consumptive activities
                make is the first step in recognizing areas in need of improvement
                and formulating comprehensive solutions to address them.
                When forming recommendations, we examine the intersection
                between financial, environmental, and social metrics.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Our Goals</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <ul>
                <li>
                    Store accurate and precise resource usage data
                </li>
                <li>
                    Provide data analysis and form recommendations
                </li>
                <li>
                    Drive change in areas of need
                    <ul>
                        <li>Connect donors/orgs directly</li>
                        <li>Connect government programs that can decrease costs of improvements</li>
                        <li>Leverage relationships with government agencies to aid in competitive bids</li>
                    </ul>
                </li>
                <li>
                    Drive innovation in resource usage data collection methods
                    <ul>
                        <li>R&D funding available</li>
                    </ul>
                </li>
                <li>
                    Foster development of new resource audit programs and strengthen existing ones
                    <ul>
                        <li>Program development tools available
                            <ul>
                                <li>SOPs</li>
                                <li>Contacts</li>
                            </ul>
                        </li>
                        <li>Funding available</li>
                    </ul>
                </li>
                <li>
                    Public education
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title> What data is collected?</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <ul>
                <li> Water 
                    <ul>
                        <li>Irrigation</li>
                        <li>Restroom</li>
                    </ul>
                </li>
                <li>Electricity</li>
                <li>Waste</li>
                <li>Food</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Who is involved?</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                --table--
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title> History</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                In 2019 students at UCLA started compiling utility audit
                data from various organizations on campus to get a big-picture
                view of campus sustainability and macro-trends. They realized
                many independent organizations had developed diverse and novel
                methods of studying usage but detailed documentation and
                standardization was scarce. Knowledge was being
                lost or stored away. When data was available, the variety
                of storages made them hard to compare. As they
                continued compiling, they saw the potential for a centralized
                system to provide coordination and support
                for these diverse groups while maintaining their independence
                and unique strengths. And thus The Data
                Grid was born.
            </p>
            <p>
                Timeline
                January 2019 - Idea conceived by Kamryn Kubose
                October 2019 - Development on website began
                March 19 2020 - First website iteration went live
            </p>
        </mat-card-content>
    </mat-card>
</div>
</body>

</html>