#body {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 30px;
}

.mat-card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
}

.mat-card-subtitle {
    padding:30px;
}

.mat-card-subtitle .mat-button {
    margin: 10px;
    background-color: #BFDCCE;
    color: black;
}

#save-button {
    background-color: rgb(86, 156, 215);
    color: white;
}