<div class="custom">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" mode="side" opened fxLayout="column" fxLayoutAlign="space-between center">
            <h3>Filter By</h3>
            <mat-radio-group style="padding-top: 30px" aria-label="Select an option" [(ngModel)]="filterBy">
                <mat-radio-button value="Feature">Feature</mat-radio-button>
                <mat-radio-button value="Submission">Submission</mat-radio-button>
            </mat-radio-group>

            <!-- feature filters -->
            <div class="features-filters" *ngIf="filterBy!='Submission'">
                <h3>Filters</h3>
                <mat-form-field class="selector">
                    <mat-label>Features</mat-label>
                    <mat-select [(ngModel)]="selectedFeature" (ngModelChange)="onFeatureSelection()">
                        <mat-option *ngFor="let info of rootFeatures" [value]="info">
                            {{info.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="selectedFeature && selectorsLoaded">
                    <app-selectors-template [treeIDobjects]="treeIDobjects" [returnableIDs]="IDreturnableIDs"
                        [selectionType]="'filter'">
                    </app-selectors-template>
                    <!-- <app-selectors-template [treeIDobjects]="treeIDobjects" [returnableIDs]="attributeReturnableIDs"
                        [columnsType]="'attributeColumns'" [selectionType]="'filter'">
                    </app-selectors-template> -->
                </div>

                <!-- <mat-accordion *ngIf="selectedFeature">
                    <div *ngFor="let feature of rootFeatures">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="width: 100%" fxLayout="row"
                                    fxLayoutAlign="space-between center">
                                    <span>
                                        {{ feature.name }}
                                    </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="selectorsLoaded">
                            </div>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion> -->

                <!-- <mat-accordion *ngIf="selectedFeature">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ selectedFeature.name }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-reusable-template [feature]="featureSelectors[selectedFeature.index]"
                            [appliedFilterSelections]="appliedFilterSelections" [returnableIDs]="featureReturnableIDs">
                        </app-reusable-template>
                    </mat-expansion-panel>
                </mat-accordion> -->

            </div>
            <button id="apply-button" mat-button (click)="applyFilters()">APPLY</button>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <div *ngIf="tableObject" id="table-buttons" fxLayoutAlign="end center">
                <!-- commented out the in-table editing button: -->
                <!-- <button *ngIf="!editingMode" mat-icon-button (click)="toggleEditingMode()">
                    <mat-icon>edit</mat-icon>
                </button> -->
                <button *ngIf="!editingMode" mat-icon-button>
                    <mat-icon>save_alt</mat-icon>
                </button>
                <button *ngIf="editingMode" mat-icon-button (click)="cancelEditing()">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button *ngIf="editingMode" mat-icon-button (click)="toggleEditingMode()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <!-- table -->
            <ngx-datatable *ngIf="tableObject" id="table" #table class="material" [headerHeight]="50"
                [footerHeight]="50" rowHeight="auto" [limit]="6" [rows]="rows" [scrollbarH]="true">

                <ngx-datatable-column *ngFor="let col of dataTableColumns" [prop]="col.returnableID" [name]="col.name">
                    <!-- header cells -->
                    <ng-template let-column="column" ngx-datatable-header-template>
                        {{col.name}} {{col.returnableID}}
                        <button mat-icon-button matTooltipClass="my-tooltip"
                            [matTooltip]="'Item Name: ' + '&#13;Item Path: ' + col.itemPath + '&#13;Column Information: ' "
                            matTooltipPosition="above">
                            <mat-icon style="font-size: 90%;">info</mat-icon>
                        </button>
                        <!-- <span *ngIf="col.displayMetaInfo==true" style="background-color: pink; overflow: visible;">
                            yuh
                           <div >
                            Item Path: {{col.itemPath}}
                           </div>
                        </span>
                        <button mat-icon-button (click)="toggleMetaInfoDisplay(col)">
                            <mat-icon style="font-size: 90%;">info</mat-icon>
                        </button> -->
                    </ng-template>


                    <!-- row cells -->
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">

                        <!-- depending on the column data type, cell has different ui for editing -->
                        <span [ngSwitch]="col.type">
                            <div *ngSwitchCase="'hyperlink'"
                                [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                                <!-- if not in editing mode display link-->
                                <a [href]="row['_hyperlinks'][col.name]" (click)="toggleEditingCell(rowIndex, col.name)"
                                    *ngIf="!editingMode">{{value}}
                                </a>
                                <!-- if in editing mode but not editing cell display text-->
                                <span (click)="toggleEditingCell(rowIndex, col.name)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.name] && editingMode">
                                    {{ value }}
                                </span>
                                <!-- if in editing mode and editing cell display input -->
                                <input *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.name)"
                                    (change)="updateValue($event, col.name, rowIndex)" [value]="value"
                                    style="width: 90%;" />
                            </div>
                            <div *ngSwitchCase="'string'"
                                [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                                <!-- if not editing cell, display value -->
                                <span (click)="toggleEditingCell(rowIndex, col.name)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.name]">
                                    {{ value }}
                                </span>
                                <!-- if editing cell, display input -->
                                <input *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.name)"
                                    (change)="updateValue($event, col.name, rowIndex)" [value]="value"
                                    style="width: 90%;" />
                            </div>
                            <div *ngSwitchCase="'date'"
                                [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                                <!-- if not editing cell, display value -->
                                <span (click)="toggleEditingCell(rowIndex, col.name)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.name]">
                                    {{ value }}
                                </span>
                                <!-- if editing cell, display input -->
                                <input *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.name)"
                                    (change)="updateValue($event, col.name, rowIndex)" [value]="value"
                                    style="width: 90%;" />
                            </div>
                            <div *ngSwitchCase="'bool'"
                                [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                                <!-- if not editing cell, display value -->
                                <span (click)="toggleEditingCell(rowIndex, col.name)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.name]">
                                    {{ value }}
                                </span>
                                <!-- if editing cell, display select -->
                                <select *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.name)"
                                    (change)="updateValue($event, col.name, rowIndex)" [value]="value">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                        </span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>