<div *ngIf="feature">
    <div *ngFor="let column of feature.numericChoice">
        <ng-template *ngTemplateOutlet="numericChoiceTemplate; context: {$implicit: column}"></ng-template>
    </div>
    <div *ngFor="let column of feature.numericEqual">
        <ng-template *ngTemplateOutlet="numericEqualTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.calendarRange">
        <ng-template *ngTemplateOutlet="calendarRangeTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.calendarEqual">
        <ng-template *ngTemplateOutlet="calendarEqualTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.dropdown">
        <ng-template *ngTemplateOutlet="dropdownTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.searchableDropdown">
        <ng-template *ngTemplateOutlet="searchableDropdownTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.checklistDropdown">
        <ng-template *ngTemplateOutlet="checklistDropdownTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.searchableChecklistDropdown">
        <ng-template *ngTemplateOutlet="searchableChecklistDropdownTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.text">
        <ng-template *ngTemplateOutlet="textTemplate; context: {$implicit: column}">
        </ng-template>
    </div>
    <div *ngFor="let column of feature.bool">
        <ng-template *ngTemplateOutlet="boolTemplate; context: {$implicit: column}">
        </ng-template>
    </div>



</div>

<ng-template #numericChoiceTemplate let-info>
    <div *ngIf="info.returnableID" class="selector" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field style="width: 45%;">
            <mat-label>Select Relation</mat-label>
            <mat-select [(ngModel)]='appliedFilterSelections.numericChoice[info.returnableID].relation'>
                <mat-option *ngFor="let relation of numericRelation" [value]="relation[1]">
                    {{relation[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 45%;">
            <mat-label>{{info.column.frontendName}} {{info.returnableID}} (numChoice) </mat-label>
            <input matInput placeholder="ex: 4.5"
                [(ngModel)]='appliedFilterSelections.numericChoice[info.returnableID].value'>
        </mat-form-field>
    </div>
</ng-template>

<ng-template #numericEqualTemplate let-info>
    <mat-form-field *ngIf="info.returnableID" class="selector">
        <mat-label>{{info.column.frontendName}} {{info.returnableID}} (numEqual) </mat-label>
        <input matInput placeholder="ex: 4.5" [(ngModel)]='appliedFilterSelections.numericEqual[info.returnableID]'>
    </mat-form-field>
</ng-template>

<ng-template #dropdownTemplate let-info>
    <mat-form-field *ngIf="info.returnableID" class="selector">
        <mat-label>{{info.column.frontendName}} {{info.returnableID}} (dropdown) </mat-label>
        <mat-select [(ngModel)]="appliedFilterSelections.dropdown[info.returnableID]">
            <!-- <mat-option *ngFor="let val of column.columnObject.selector.selectorValues" [value]=val>
                {{val}}
            </mat-option> -->
        </mat-select>
    </mat-form-field>
</ng-template>

<ng-template #calendarRangeTemplate let-info>
    <div *ngIf="info.returnableID" class="selector" [class.auditsPageColorScheme]="page === 'AuditsPage'"
        [class.featuresPageColorScheme]="page === 'FeaturesAuditPage'" fxLayout="row"
        fxLayoutAlign="space-between center">
        <mat-form-field style="width: 45%;">
            <input matInput class="datetime-picker" type="datetime-local"
                [placeholder]="info.column.frontendName + ' ' + info.returnableID + ' (calendarRange)'"
                [(ngModel)]="appliedFilterSelections.calendarRange[info.returnableID].start">
        </mat-form-field>
        <span> to </span>
        <mat-form-field style="width: 45%;">
            <input matInput class="datetime-picker" type="datetime-local"
                [(ngModel)]="appliedFilterSelections.calendarRange[info.returnableID].end">
        </mat-form-field>
    </div>
</ng-template>

<ng-template #calendarEqualTemplate let-info>
    <mat-form-field *ngIf="info.returnableID" class="selector">
        <input matInput type="datetime-local" [placeholder]="info.column.frontendName + ' ' + info.returnableID + ' (calendarEqual)'"
            [(ngModel)]="appliedFilterSelections.calendarEqual[info.returnableID]">
    </mat-form-field>
</ng-template>

<ng-template #searchableDropdownTemplate let-info>
    <ng-multiselect-dropdown *ngIf="info.returnableID && dropdownOptions" class="selector" 
        [placeholder]="info.column.frontendName + ' ' + info.returnableID + ' (searchableDropdown)'"
        [(ngModel)]="appliedFilterSelections.searchableDropdown[info.returnableID]"
        [settings]="searchableDropdownSettings" [data]="IDtoOptions[info.returnableID]" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
</ng-template>

<ng-template #checklistDropdownTemplate let-info>
    <ng-multiselect-dropdown *ngIf="info.returnableID"  class="selector"
        [placeholder]="info.column.frontendName + ' ' + info.returnableID + ' (checklistDropdown)'"
        [(ngModel)]="appliedFilterSelections.checklistDropdown[info.returnableID]"
        [settings]="checklistDropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
</ng-template>

<ng-template #searchableChecklistDropdownTemplate let-info>
    <ng-multiselect-dropdown *ngIf="info.returnableID && dropdownOptions"  class="selector"
        [placeholder]="info.column.frontendName + ' ' + info.returnableID + ' (searchableChecklistDropdown)'"
        [(ngModel)]="appliedFilterSelections.searchableChecklistDropdown[info.returnableID]"
        [settings]="searchableChecklistDropdownSettings" [data]="IDtoOptions[info.returnableID]" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>

</ng-template>

<ng-template #textTemplate let-info>
    <mat-form-field *ngIf="info.returnableID" class="selector">
        <mat-label>{{info.column.frontendName}} {{info.returnableID}} (text)</mat-label>
        <input matInput placeholder="ex: 4.5" [(ngModel)]='appliedFilterSelections.text[info.returnableID]'>
    </mat-form-field>
</ng-template>

<ng-template #boolTemplate let-info>
    <mat-form-field *ngIf="info.returnableID" class="selector">
        <mat-label>{{info.column.frontendName}} {{info.returnableID}} (bool)</mat-label>
        <mat-select [(ngModel)]="appliedFilterSelections.bool[info.returnableID]">
            <mat-option [value]=true>True</mat-option>
            <mat-option [value]=false>False</mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>