.selector {
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    width: 85%;
}

.auditsPageColorScheme {
    color: black !important;
}

.featuresPageColorScheme {
    color: #989898 !important;
}

