/* entire sidenav including main content and sidenav bar */

.sidenav-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
}

::ng-deep .mat-form-field-label, .mat-datepicker-toggle, ::ng-deep .mat-select-arrow, ::ng-deep .mat-select-value {
    /*change color of label*/
    color: rgb(228, 228, 228) !important;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: rgba(228, 228, 228, 0.5) !important;
}

/* main content */

#audit-table-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    width: 90%;
}

/* actual sidebar */

.sidenav {
    width: 25%;
    text-align: center;
    color: rgb(228, 228, 228);
    background-color: rgba(73, 73, 73, .8) !important;
    box-shadow: 5px 0 3px -2px #888;
    font-size: small;
}

/* form fields within sidenav bar */

.mat-form-field {
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    width: 80%;
}

.mat-expansion-panel {
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    width: 80%;
    background-color: transparent;
}

.mat-expansion-panel-header-title {
    font-size: small;
    color: rgb(228, 228, 228) !important;
}

.mat-radio-button {
    margin: 5px;
}

.sidenav .mat-button {
    background-color: rgb(95, 167, 132);
    margin-top: 3rem;
}

#global-filters {
    background-color: rgba(73, 116, 165, 0.8);
}

#audit-filters {
    background-color: rgba(73, 116, 165, 0.72);
}

#apply-button {
    margin-bottom: 25px;
}