<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audits</title>
</head>

<body>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" mode="side" opened fxLayout="column" fxLayoutAlign="space-between center">
            <h3>Filter By</h3>
            <mat-radio-group style="padding-top: 30px" aria-label="Select an option" [(ngModel)]="filterBy">
                <mat-radio-button value="Submission">Submission</mat-radio-button>
                <mat-radio-button value="Feature">Feature</mat-radio-button>
            </mat-radio-group>
            <div class="global-filters" style="padding-top: 10px;">
                <h3>Global Filters</h3>
                <div *ngIf="globalSelectors">
                    <div *ngFor="let column of globalSelectors.numericChoice">
                        <ng-template *ngTemplateOutlet="numericChoiceTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.numericEqual">
                        <ng-template *ngTemplateOutlet="numericEqualTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.calendarRange">
                        <ng-template *ngTemplateOutlet="calendarRangeTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.calendarEqual">
                        <ng-template *ngTemplateOutlet="calendarEqualTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.dropdown">
                        <ng-template *ngTemplateOutlet="dropdownTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.searchableDropdown">
                        <ng-template *ngTemplateOutlet="searchableDropdownTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.checklistDropdown">
                        <ng-template *ngTemplateOutlet="checklistDropdownTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.searchableChecklistDropdown">
                        <ng-template
                            *ngTemplateOutlet="searchableChecklistDropdownTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.text">
                        <ng-template *ngTemplateOutlet="textTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                    <div *ngFor="let column of globalSelectors.bool">
                        <ng-template *ngTemplateOutlet="boolTemplate; context: {$implicit: column}">
                        </ng-template>
                    </div>
                </div>
                <!-- <mat-form-field>
                    <input id="search-bar" matInput (keyup)="filterDatatable($event)" placeholder="Search">
                </mat-form-field> -->
            </div>


            <div class="features-filters" *ngIf="filterBy!='Submission'">
                <h3>Feature Filters</h3>
                <mat-form-field>
                    <mat-label>Features</mat-label>
                    <mat-select [(ngModel)]="selectedFeature">
                        <mat-option *ngFor="let feature of featureDropdownValues | keyvalue" [value]=feature.key>
                            {{feature.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-accordion *ngIf="selectedFeature">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{selectedFeature}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let column of featureSelectors[selectedFeature].numericChoice">
                            <ng-template *ngTemplateOutlet="numericChoiceTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].numericEqual">
                            <ng-template *ngTemplateOutlet="numericEqualTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].calendarRange">
                            <ng-template *ngTemplateOutlet="calendarRangeTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].calendarEqual">
                            <ng-template *ngTemplateOutlet="calendarEqualTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].dropdown">
                            <ng-template *ngTemplateOutlet="dropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].searchableDropdown">
                            <ng-template *ngTemplateOutlet="searchableDropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].checklistDropdown">
                            <ng-template *ngTemplateOutlet="checklistDropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].searchableChecklistDropdown">
                            <ng-template
                                *ngTemplateOutlet="searchableChecklistDropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].text">
                            <ng-template *ngTemplateOutlet="textTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[selectedFeature].bool">
                            <ng-template *ngTemplateOutlet="boolTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel *ngFor="let child of featureDropdownValues.get(selectedFeature)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{selectedFeature}}/{{child.frontendName}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let column of featureSelectors[child.frontendName].numericChoice">
                            <ng-template *ngTemplateOutlet="numericChoiceTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].numericEqual">
                            <ng-template *ngTemplateOutlet="numericEqualTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].calendarRange">
                            <ng-template *ngTemplateOutlet="calendarRangeTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].calendarEqual">
                            <ng-template *ngTemplateOutlet="calendarEqualTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].dropdown">
                            <ng-template *ngTemplateOutlet="dropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].searchableDropdown">
                            <ng-template *ngTemplateOutlet="searchableDropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].checklistDropdown">
                            <ng-template *ngTemplateOutlet="checklistDropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].searchableChecklistDropdown">
                            <ng-template
                                *ngTemplateOutlet="searchableChecklistDropdownTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].text">
                            <ng-template *ngTemplateOutlet="textTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                        <div *ngFor="let column of featureSelectors[child.frontendName].bool">
                            <ng-template *ngTemplateOutlet="boolTemplate; context: {$implicit: column}">
                            </ng-template>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <button id="apply-button" mat-button (click)="applyFilters()">APPLY</button>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <!-- table -->
            <div *ngIf="tableObject" id="table-buttons" fxLayoutAlign="end center">
                <button *ngIf="!editingMode" mat-icon-button (click)="toggleEditingMode()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="!editingMode" mat-icon-button>
                    <mat-icon>save_alt</mat-icon>
                </button>
                <button *ngIf="editingMode" mat-icon-button (click)="cancelEditing()">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button *ngIf="editingMode" mat-icon-button (click)="toggleEditingMode()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <ngx-datatable *ngIf="tableObject" id="table" #table class="material" [headerHeight]="50"
                [footerHeight]="50" rowHeight="auto" [limit]="5" [rows]="rows" [scrollbarH]="true">
                <ngx-datatable-column *ngFor="let col of dataTableColumns" [prop]="col.prop" [name]="col.prop">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <span [ngSwitch]="col.type">
                            <div *ngSwitchCase="'hyperlink'"
                                [ngStyle]="cellEdited[rowIndex + col.prop] && { 'background-color': 'pink' }">
                                <a [href]="row['_hyperlinks'][col.prop]" (click)="toggleEditingCell(rowIndex, col.prop)"
                                    *ngIf="!editingMode">{{value}}
                                </a>
                                <span (click)="toggleEditingCell(rowIndex, col.prop)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.prop] && editingMode">
                                    {{ value }}
                                </span>
                                <input *ngIf="currentlyEditingCell[rowIndex + col.prop] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.prop)"
                                    (change)="updateValue($event, col.prop, rowIndex)" [value]="value"
                                    style="width: 90%;" />
                            </div>
                            <div *ngSwitchCase="'string'"
                                [ngStyle]="cellEdited[rowIndex + col.prop] && { 'background-color': 'pink' }">
                                <span (click)="toggleEditingCell(rowIndex, col.prop)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.prop]">
                                    {{ value }}
                                </span>
                                <input *ngIf="currentlyEditingCell[rowIndex + col.prop] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.prop)"
                                    (change)="updateValue($event, col.prop, rowIndex)" [value]="value"
                                    style="width: 90%;" />
                            </div>
                            <div *ngSwitchCase="'bool'"
                                [ngStyle]="cellEdited[rowIndex + col.prop] && { 'background-color': 'pink' }">
                                <span (click)="toggleEditingCell(rowIndex, col.prop)"
                                    *ngIf="!currentlyEditingCell[rowIndex + col.prop]">
                                    {{ value }}
                                </span>
                                <select *ngIf="currentlyEditingCell[rowIndex + col.prop] && editingMode"
                                    (blur)="toggleEditingCell(rowIndex, col.prop)"
                                    (change)="updateValue($event, col.prop, rowIndex)" [value]="value">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                        </span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-sidenav-content>
    </mat-sidenav-container>


    <ng-template #numericChoiceTemplate let-column>
        <mat-form-field>
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <input matInput placeholder="ex: 4.5" [(ngModel)]='appliedFilterSelections[column.columnBackendID]'>
        </mat-form-field>
    </ng-template>

    <ng-template #numericEqualTemplate let-column>
        <mat-form-field>
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <input matInput placeholder="ex: 4.5" [(ngModel)]='appliedFilterSelections[column.columnBackendID]'>
        </mat-form-field>
    </ng-template>

    <ng-template #dropdownTemplate let-column>
        <mat-form-field>
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <mat-select [(ngModel)]="appliedFilterSelections[column.columnBackendID]">
                <!-- <mat-option *ngFor="let val of column.columnObject.selector.selectorValues" [value]=val>
                {{val}}
            </mat-option> -->
            </mat-select>
        </mat-form-field>
    </ng-template>

    <ng-template #calendarRangeTemplate let-column>
        <mat-form-field>
            <mat-label>{{column.columnFrontendName}} Range</mat-label>
            <input #datepicker matInput [matDatepicker]="picker1" (dateInput)="applyDateFilter($event.target.value)"
                style="width: 75px; text-align: center;">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            -
            <input #datepicker matInput [matDatepicker]="picker2" (dateInput)="applyDateFilter($event.target.value)"
                style="width: 75px; text-align: center;">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <!-- <ngx-datetime-range-picker name="date" [options]="datePickerOptions" [settings]="datePickerSettings"
            [(dateRangeModel)]="selectedDate" (dateRangeChanged)="onFilterChange($event)" required>
        </ngx-datetime-range-picker> -->
    </ng-template>

    <ng-template #calendarEqualTemplate let-column>
        <mat-form-field>
            <input matInput type="datetime-local" placeholder="column.columnFrontendName">
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <input #datepicker matInput [matDatepicker]="picker1" (dateInput)="applyDateFilter($event.target.value)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field> -->
    </ng-template>

    <ng-template #searchableDropdownTemplate let-column>
        <ng-multiselect-dropdown class="multi" [placeholder]="column.columnFrontendName"
            [(ngModel)]="appliedFilterSelections[column.columnBackendID]" [settings]="searchableDropdownSettings"
            [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
    </ng-template>

    <ng-template #checklistDropdownTemplate let-column>
        <ng-multiselect-dropdown class="multi" [placeholder]="column.columnFrontendName"
            [(ngModel)]="appliedFilterSelections[column.columnBackendID]" [settings]="checklistDropdownSettings"
            [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
    </ng-template>

    <ng-template #searchableChecklistDropdownTemplate let-column>
        <ng-multiselect-dropdown class="multi" [placeholder]="column.columnFrontendName"
            [(ngModel)]="appliedFilterSelections[column.columnBackendID]"
            [settings]="searchableChecklistDropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
    </ng-template>

    <ng-template #textTemplate let-column>
        <mat-form-field>
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <input matInput placeholder="ex: 4.5" [(ngModel)]='appliedFilterSelections[column.columnBackendID]'>
        </mat-form-field>
    </ng-template>

    <ng-template #boolTemplate let-column>
        <mat-form-field>
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <mat-select [(ngModel)]="appliedFilterSelections[column.columnBackendID]">
                <mat-option [value]=true>True</mat-option>
                <mat-option [value]=false>False</mat-option>
            </mat-select>
        </mat-form-field>
    </ng-template>
</body>

</html>