/* .body {
    display: block;
}     */

#filterbox {
    height: 35vh;
    color: black;
    font-size: small;
}

#observations {
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: #9f9f9f;
    overflow-y: scroll;
}

.observation-panel {
    width: 100%; 
    height:15%; 
    border-top: 1px solid black;
    padding-bottom: 2px;
    font-size: 16px;
    cursor: pointer;
}

.observation-panel:hover {
    background-color: rgb(216, 216, 216);
}

.observation-panel-blank {
    width: 100%; 
    height:15%; 
    border-top: 1px solid black;
}

#querybuilder {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: rgba(73, 73, 73, .2);
    overflow-y: scroll;
}

#querybuilder-bar {
    background-color: rgba(73, 73, 73, .4);
    width: 100%;
    height: 32px;
}

#querybuilder-filters {
    padding: 20px;
}

#apply-button {
    background-color: rgb(95, 167, 132);
    margin-top:10px;
    display: block;
}

/* .body ::ng-deep .mat-form-field-label, .mat-datepicker-toggle, ::ng-deep .mat-select-arrow, ::ng-deep .mat-select-value {
    color: rgb(228, 228, 228) !important;
}

.body ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: rgba(228, 228, 228, 0.5) !important;
}

.span {
    color: rgb(228, 228, 228) !important;
} */

/* main content */
#main-content {
    height: auto;
    overflow: visible;
}

#table-buttons {
    margin-top: 5px;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: left;
    width: 90%;
}

/* form fields within sidenav bar */

.mat-expansion-panel {
    font-size: small;
    width: 80%;
    background-color: transparent;
    overflow: visible !important;
    /* color: rgb(228, 228, 228) !important; */
}

.mat-expansion-panel-header-title {
    font-size: small;
    /* color: rgb(228, 228, 228) !important; */
}
