<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audits</title>
</head>

<body>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" mode="side" opened fxLayout="column" fxLayoutAlign="space-between center">
            <h3>Filter By</h3>
            <mat-radio-group style="padding-top: 30px" aria-label="Select an option" [(ngModel)]="filterBy">
                <mat-radio-button value="Submission">Submission</mat-radio-button>
                <mat-radio-button value="Feature">Feature</mat-radio-button>
            </mat-radio-group>
            <div class="global-filters" style="padding-top: 10px;">
                <h3>Global Filters</h3>
                <!-- global dropdowns -->
                <mat-form-field *ngFor="let column of globalSelectors.dropdown">
                    <mat-label>{{column.columnFrontendName}}</mat-label>
                    <mat-select [(ngModel)]="column.filterSelector.selectorValue">
                        <!-- <mat-option *ngFor="let val of column.columnObject.selector.selectorValues" [value]=val>
                            {{val}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>

                <!-- global calendarRange -->
                <div *ngFor="let column of globalSelectors.calendarRange" fxLayout="row"
                    fxLayoutAlign="space-around center">
                    <mat-form-field>
                        <mat-label>{{column.columnFrontendName}} Range</mat-label>
                        <input #datepicker matInput [matDatepicker]="picker1"
                            (dateInput)="applyDateFilter($event.target.value)" style="width: 75px; text-align: center;">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        -
                        <input #datepicker matInput [matDatepicker]="picker2"
                            (dateInput)="applyDateFilter($event.target.value)" style="width: 75px; text-align: center;">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- <mat-form-field>
                    <input id="search-bar" matInput (keyup)="filterDatatable($event)" placeholder="Search">
                </mat-form-field> -->
            </div>


            <div class="features-filters" *ngIf="filterBy!='Submission'">
                <h3>Feature Filters</h3>
                <mat-form-field>
                    <mat-label>Features</mat-label>
                    <mat-select [(ngModel)]="selectedFeature">
                        <mat-option *ngFor="let feature of featureDropdownValues | keyvalue" [value]=feature.key>
                            {{feature.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <div *ngIf="featureSelectors[selectedFeature]"> hello</div> -->

                <mat-accordion *ngIf="selectedFeature">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{selectedFeature}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template *ngTemplateOutlet="featureFilters; context: {$implicit: selectedFeature}">
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel *ngFor="let child of featureDropdownValues.get(selectedFeature)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{selectedFeature}}/{{child.frontendName}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template *ngTemplateOutlet="featureFilters; context: {$implicit: child.frontendName}">
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>

                <!-- DON'T DELETE BELOW SECTION: MULTISELECT DROPDOWN EXAMPLE-->
                <!-- <ng-multiselect-dropdown class="multi" [placeholder]="'City'" [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                     </ng-multiselect-dropdown> -->
            </div>
            <button id="apply-button" mat-button (click)="applyFilters()">APPLY</button>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">

            <!-- table -->
            <div id="audit-table-container">
                <ngx-datatable *ngIf="tableObject" #table class="material" [headerHeight]="50" [footerHeight]="50"
                    rowHeight="auto" [limit]="5" [rows]="rows" [scrollbarH]="true">
                    <ngx-datatable-column *ngFor="let col of dataTableColumns" [prop]="col.prop" [name]="col.prop">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row"
                            let-value="value">
                            <span [ngSwitch]="col.type">
                                <a *ngSwitchCase="'hyperlink'" [href]="row['hyperlinks'][col.prop]">{{value}}</a>
                                <p *ngSwitchCase="'string'">{{value}}</p>
                                <div *ngSwitchCase="'bool'">
                                    <span title="Double click to edit"
                                        (dblclick)="editing[rowIndex + '-' + col.prop] = true"
                                        *ngIf="!editing[rowIndex + '-' + col.prop]">
                                        {{ value }}
                                    </span>
                                    <select *ngIf="editing[rowIndex + '-' + col.prop]"
                                        (blur)="editing[rowIndex + '-' + col.prop] = false"
                                        (change)="updateValue($event, col.prop, rowIndex)" [value]="value">
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                </div>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>


    <ng-template #featureFilters let-featureName>
        <!-- feature dropdowns -->
        <mat-form-field *ngFor="let column of featureSelectors[featureName].dropdown">
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <mat-select [(ngModel)]="column.filterSelector.selectorValue">
                <!-- <mat-option *ngFor="let val of column.columnObject.selector.selectorValues" [value]=val>
                    {{val}}
                </mat-option> -->
            </mat-select>
        </mat-form-field>

        <!-- feature numeric choice -->
        <mat-form-field *ngFor="let column of featureSelectors[featureName].numericChoice">
            <mat-label>{{column.columnFrontendName}}</mat-label>
            <input matInput placeholder="ex: 4.5" [(ngModel)]='column.filterSelector.selectorValue'>
        </mat-form-field>
    </ng-template>

</body>

</html>