<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    </head>      
<div class="body">
    <div id="filterbox">
        <div id="observations">
            <div class="observation-panel">
                <p style="margin-left: 15%;"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; My Observations</p>
            </div>
            <div class="observation-panel-blank">
                <p>  </p>
            </div>
            <div class="observation-panel">
                <p style="margin-left: 15%;"> <i class="fa fa-sitemap" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp; My Organization's Observations</p>
            </div>

            <div class="observation-panel">
                <p style="margin-left: 15%;"> <i class="fa fa-bath" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp; My Organization's Audits</p>
            </div>

            <div class="observation-panel" style="border-bottom: 1px solid black;">
                <p style="margin-left: 15%;"><i class="fa fa-user" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp; My Audits</p>
            </div>


        </div>
        <div id="querybuilder">
            <div id="querybuilder-bar">
                <span class="title"><i class="fa fa-caret-down"></i>&nbsp;&nbsp; Query Builder</span>
                <span class="right"><i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <!-- <button id="apply-button" mat-button (click)="applyFilters()">APPLY</button> -->
                </span>
            </div>      

            <div class="grid-container">
                <div class="label">Type</div>
                <span class="content"><p style="font-size: 1.6vh; margin-left: 1%;">Some toggle goes here but I'm not quite sure what</p></span>
                <div class="label">Target</div>  
                <div>
                    <span style="margin-top: 10px;">
                        <select class="dropdown">
                            <option value="volvo">Option 1</option>
                            <option value="saab">Option 2</option>
                            <option value="opel">Option 3</option>
                            <option value="audi">Option 4</option>
                          </select>
                    </span>
                  </div>
                <div class="label">Fields</div>
                <div>
                    <span style="margin-top: 10px;">
                        <select class="dropdown">
                            <option value="volvo">Option 1</option>
                            <option value="saab">Option 2</option>
                            <option value="opel">Option 3</option>
                            <option value="audi">Option 4</option>
                          </select>
                    </span>
                </div>    
                <div class="label">Filter</div>                
                <span class="content"><p style="font-size: 1.6vh; cursor: pointer; color: rgb(10, 80, 139); margin-left: 1%;">All > GPF is greater than 2 > Auditor is Mr Rabid</p></span>
                <div class="label">Sort</div>
                <span class="content"><p style="font-size: 1.6vh; cursor: pointer;color: rgb(10, 80, 139); margin-left: 1%;">Date Conducted Descending > Auditor Last Name Descending</p></span>
            </div>


            <!-- feature filters -->
            <!-- <div id="querybuilder-filters" *ngIf="filterBy!='Submission'">
                <div style="flex-grow: 1; border-right: 3px solid palegreen;" class="label"><p>Type</p></div>
                <div style="flex-grow: 20">placeholder</div>
            </div>
            <div id="querybuilder-filters" *ngIf="filterBy!='Submission'">
                <div style="flex-grow: 1; border-right: 3px solid palegreen;" class="label">Target</div>
                <div style="flex-grow: 20">placeholder</div>
            </div>
            <div id="querybuilder-filters" *ngIf="filterBy!='Submission'">
                <div style="flex-grow: 1;border-right: 3px solid palegreen;" class="label">Fields</div>
                <div style="flex-grow: 20">placeholder</div>
            </div>
            <div id="querybuilder-filters" *ngIf="filterBy!='Submission'">
                <div style="flex-grow: 1;border-right: 3px solid palegreen" class="label">Filter</div>
                <div style="flex-grow: 20">placeholder</div>
            </div>
            <div id="querybuilder-filters" *ngIf="filterBy!='Submission'">
                <div style="flex-grow: 1;border-right: 3px solid palegreen" class="label">Sort</div>
                <div style="flex-grow: 20">placeholder</div>
            </div> -->

        </div>
    </div>

    <div id="main-content">
        <div *ngIf="tableObject" id="table-buttons" fxLayoutAlign="end center">
            <button *ngIf="!editingMode" mat-icon-button (click)="toggleEditingMode()">
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="!editingMode" mat-icon-button>
                <mat-icon>save_alt</mat-icon>
            </button>
            <button *ngIf="editingMode" mat-icon-button (click)="cancelEditing()">
                <mat-icon>cancel</mat-icon>
            </button>
            <button *ngIf="editingMode" mat-icon-button (click)="toggleEditingMode()">
                <mat-icon>save</mat-icon>
            </button>
        </div>

        <!-- table -->
        <ngx-datatable *ngIf="tableObject" id="table" #table class="material" [headerHeight]="50" [footerHeight]="50"
            rowHeight="auto" [limit]="5" [rows]="tableRows" [scrollbarH]="true">

            <ngx-datatable-column *ngFor="let col of dataTableColumns" [prop]="col.returnableID" [name]="col.name">
                <!-- header cells -->
                <ng-template let-column="column" ngx-datatable-header-template>
                    {{col.name}} {{col.returnableID}}
                    <button mat-icon-button matTooltipClass="my-tooltip"
                        [matTooltip]="'Item Name: ' + '&#13;Item Path: ' + col.itemPath + '&#13;Column Information: ' "
                        matTooltipPosition="above">
                        <mat-icon style="font-size: 90%;">info</mat-icon>
                    </button>
                </ng-template>

                <!-- row cells -->
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <!-- depending on the column data type, cell has different ui for editing -->
                    <span [ngSwitch]="col.type">
                        <div *ngSwitchCase="'hyperlink'"
                            [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                            <!-- if not in editing mode display link-->
                            <a [href]="row['_hyperlinks'][col.name]" (click)="toggleEditingCell(rowIndex, col.name)"
                                *ngIf="!editingMode">{{value}}
                            </a>
                            <!-- if in editing mode but not editing cell display text-->
                            <span (click)="toggleEditingCell(rowIndex, col.name)"
                                *ngIf="!currentlyEditingCell[rowIndex + col.name] && editingMode">
                                {{ value }}
                            </span>
                            <!-- if in editing mode and editing cell display input -->
                            <input *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                (blur)="toggleEditingCell(rowIndex, col.name)"
                                (change)="updateValue($event, col.name, rowIndex)" [value]="value"
                                style="width: 90%;" />
                        </div>
                        <div *ngSwitchCase="'string'"
                            [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                            <!-- if not editing cell, display value -->
                            <span (click)="toggleEditingCell(rowIndex, col.name)"
                                *ngIf="!currentlyEditingCell[rowIndex + col.name]">
                                {{ value }}
                            </span>
                            <!-- if editing cell, display input -->
                            <input *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                (blur)="toggleEditingCell(rowIndex, col.name)"
                                (change)="updateValue($event, col.name, rowIndex)" [value]="value"
                                style="width: 90%;" />
                        </div>
                        <div *ngSwitchCase="'date'"
                            [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                            <!-- if not editing cell, display value -->
                            <span (click)="toggleEditingCell(rowIndex, col.name)"
                                *ngIf="!currentlyEditingCell[rowIndex + col.name]">
                                {{ value }}
                            </span>
                            <!-- if editing cell, display input -->
                            <input *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                (blur)="toggleEditingCell(rowIndex, col.name)"
                                (change)="updateValue($event, col.name, rowIndex)" [value]="value"
                                style="width: 90%;" />
                        </div>
                        <div *ngSwitchCase="'bool'"
                            [ngStyle]="cellEdited[rowIndex + col.name] && { 'background-color': 'pink' }">
                            <!-- if not editing cell, display value -->
                            <span (click)="toggleEditingCell(rowIndex, col.name)"
                                *ngIf="!currentlyEditingCell[rowIndex + col.name]">
                                {{ value }}
                            </span>
                            <!-- if editing cell, display select -->
                            <select *ngIf="currentlyEditingCell[rowIndex + col.name] && editingMode"
                                (blur)="toggleEditingCell(rowIndex, col.name)"
                                (change)="updateValue($event, col.name, rowIndex)" [value]="value">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
</html>