<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>

  <!-- <mat-dialog-actions>
    <button class="closeButton" (click)="close()" style="margin-top:-10%; right: -92%; position: relative;">✕</button>
  </mat-dialog-actions> -->

  <img src="https://i.imgur.com/IxY4SeO.png" alt="The Data Grid Logo" class="logo" style="top: 0px; right: -2%;">
    <h2 class="logIn" style="font-size: 48px; font-weight: 5; position:relative; right: -5%; top: -20px;">Secure Site</h2>
    <p>
            <mat-form-field appearance="outline" style="top: -45px; left: 5%; font-size: 14px;">
              <mat-label>Access Key</mat-label>
              <input id="password_attempt" matInput (input)="checkForms()" placeholder="">
            </mat-form-field>
        </p>
<div class="signbuttons">
    <button mat-button color="primary" style="position: relative; color: white; left: 67%; top: -20px;" [class.normal]="formsFilledOut" [class.greyish]="!formsFilledOut" (click)="handleInput()">ACCESS SITE</button>
  </div>

  <div *ngIf='fail == true'>
    <p style="position: relative; top: -10px; text-align: center; color: red; ">Incorrect Access Key</p>
  </div>
  

</div>
  </body>
</html>