<div style="min-height: 220px; width: 300px;">
    <img style="width: 170px;" src="assets/logo.png">
    <h1 style="font-size: 22px; margin-top: 15px; text-align: center;">Password Authentication</h1>
    <mat-form-field appearance="outline" style="top: 10px; left: 10%; width: 220px; font-size: 14px;">
        <mat-label>Please re-enter your password</mat-label>
        <input type="password" id="password_attempt" matInput placeholder="">
    </mat-form-field>
    <button style="background-color: #5FA784; top: 80px; margin-left: -110px;" mat-button>Submit</button>


</div>
