html {
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: green;
}

body {
   height: 100%;
   margin: 0;
   padding: 0;
}

#wrapper {
   min-height: 100%;
   position: relative;
}

#footer {
   height: 27px;
   width: 100%;
   position: absolute;
   bottom: 25px;
}

.mat-tab-nav-bar {
   z-index: 1000;
   overflow: visible !important;
   background-color: #FBFBFB;
}

/* dropdowns on mat-tab */
.nav-dropdown-option {
   display: inline-block;
   height: 35px;
   padding-right: 0;
   padding-left: 0;
}

.bottom-bar {
   background-color: #9EACB8;
   height: 150px;
   padding-top: 30px;
}

.bottom-card {
   background-color: inherit;
   width: 20%;
}

.bot-text {
   font-size: 16px;
   line-height: 15px;
   color: #ffffff;
}


.bot-logo {
   font-family: IBM Plex Mono;
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #ffffff;
}

.social-button {
   height: 40px;
   margin: 5px;
}

.mat-button.mat-primary .mat-button-focus-overlay {
   background-color: transparent;
 }
 
 ::ng-deep .link-btn .mat-button-focus-overlay {
   background-color:transparent;
}

.upload {
   width: 150%;
   height: 100%;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

button:focus { outline: none; }

.mat-menu-content {
   background-color: 'red' !important;
}

::ng-deep .customize {
   background: white;
   position: absolute;
   top: 0%;
   display: block;
}
 