header {
   position: fixed;
   width: 100%;
   background-color: #FBFBFB;
   z-index: 1000;
}

body {
   height: 100%;
   margin: 0;
   padding: 0;
}

#wrapper {
   min-height: 100%;
   position: relative;
}

#footer {
   min-height: 150px;
   width: 100%;
   position: absolute;
   bottom: 0px;
}

.mat-tab-nav-bar {
   z-index: 1000;
   overflow: visible !important;
   background-color: #FBFBFB;
}

/* dropdowns on mat-tab */
.nav-dropdown-option {
   display: inline-block;
   height: 35px;
   padding-right: 0;
   padding-left: 0;
}

.top-box
{
    box-shadow: inset 0 7px 20px -7px rgba(0,0,0,0.4);
}

.bottom-bar {
   background-color: #9EACB8;
   min-height: 150px;
   padding-top: 30px;
   margin-top: 20px;
}

.bottom-card {
   background-color: inherit;
   width: 40%;
}

.bot-text {
   font-size: 16px;
   line-height: 15px;
   color: #ffffff;
}


.bot-logo {
   font-family: IBM Plex Mono;
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #ffffff;
}

.social-button {
   height: 40px;
   margin: 5px;
}

.mat-button.mat-primary .mat-button-focus-overlay {
   background-color: transparent;
 }
 
 ::ng-deep .link-btn .mat-button-focus-overlay {
   background-color:transparent;
}

.upload {
   width: 150%;
   height: 100%;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

button:focus { outline: none; }

.mat-menu-content {
   background-color: 'red' !important;
}

::ng-deep .customize {
   background: white;
   width: 150px;
   margin-left: -10px;
   position: absolute;
   top: 0%;
   display: block;
   box-sizing: border-box;
   border-top: 1px solid #569CD7;
}
 
.dropdown-btn {
   font-size: 13px;
   color: #989898;
   text-align: center;
   /* margin-left: -10%; */
   margin-top: -5px;
}