<div class="document">
    <h1>User Guide</h1>
    <div class="callout">
        <span class="callout-caret">></span> In order to optimize the accessibility of The Data Grid, we have developed
        a user guide to help one understand its capabilities and use it effectively.
    </div>
    <h2 id="getting-started">Getting Started</h2>
    <div class="body">
        The Data Grid provides centralization and management services for sustainability data such as electricity
        audits, water audits, and apiary inspections. Our public software suite creates specialized applications for
        your environmental project to allow for flexible data collection, upload, storage, and analysis.
    </div>
    <h3 id="viewing-data">Interested in viewing data?</h3>
    <div class="body">
        Read the <a class="linker-3" routerLink="/guide/query">data filtration guide</a> or just go to the <a class="linker-3" routerLink="/table">filtering page</a> directly.
    </div>
    <h3 id="hosting-data">Interested in hosting your own data?</h3>
    <div class="body">
        To help you get started, read through each of the sections below for more details.
    </div>
    <h2 id="guides">Guides</h2>
    <div class="guide-buttons-container">
        <div routerLink="/guide/schema" class="guide-button">
            <div class="guide-button-stack">
                <span style="color: #569CD7; font-weight: bold; padding-bottom: 4px; font-size: 1.15rem;">Custom
                    Schemas</span>
                How the data representation model works, how The Data Grid represents custom data, and how to create
                custom databases
            </div>
        </div>
        <div routerLink="/guide/manage" class="guide-button">
            <div class="guide-button-stack">
                <span style="color: #569CD7; font-weight: bold; padding-bottom: 4px; font-size: 1.15rem;">Organization
                    Management</span>
                How to make an account, join an organization, and manage your organization
            </div>
        </div>
        <div routerLink="/guide/upload" class="guide-button">
            <div class="guide-button-stack">
                <span style="color: #569CD7; font-weight: bold; padding-bottom: 4px; font-size: 1.15rem;">Data
                    Upload</span>
                How to create and upload audit data for your organization
            </div>
        </div>
        <div routerLink="/guide/query" class="guide-button">
            <div class="guide-button-stack">
                <span style="color: #569CD7; font-weight: bold; padding-bottom: 4px; font-size: 1.15rem;">Querying the
                    Database</span>
                How to use the filtering page to browse and download data
            </div>
        </div>
    </div>
</div>