h1 {
    width: 55%;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: #5fa784;
    margin-top: 50px;
    border-bottom: #5fa784 dotted 1.5px;
    border-top: #5fa784 dotted 1.5px;
}

h2 {
    width: 55%;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #569CD7;
    padding-top: 30px;
}

h3 {
    width: 55%;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #569CD7;
    padding-top: 25px;
}

h4 {
    width: 55%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #569CD7;
    padding-top: 20px;
}

.quote {
    width: 40%;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    color: #5fa784;
    font-family: Lora;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px;
}

.callout-caret {
    font-size: 30px;
    font-weight: bold;
    margin-right: 18px;
    color: #569CD7
}

.callout {
    padding: 10px 15px 10px 15px;
    background-color: rgba(59, 130, 246, 0.06);
    border-radius: 5px;
    border: 1px solid #569CD7;
    width: 40%;
    display: flex;
    flex-direction: row;
    color: #569CD7;
    font-family: 'Roboto';
}

.document {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.body {
    width: 55%;
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 5px;
}

.body .b {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
}

.body .i {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 2rem;
    font-style: italic;
}

.para-break {
    margin-top: 10px;
}

.linker {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.linker-blue {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.linker-blue:hover {
    background-color: #569dd756;
}

.linker-3:hover {
    background-color: #569dd731;
}

.linker-3 {
    color: #569dd7;
    text-decoration: underline;
    transition: 0.3s;
    font-family: 'Roboto';
}

.linker:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.code-block {
    padding: 10px 15px 10px 15px;
    background-color: #5fa7841a;
    border-radius: 5px;
    border: 1px solid #5fa784;
    width: 40%;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    white-space: pre ;
    transition: opacity 0.3s ease;
    position: relative;
}

.code-block:hover > .code-block-copy {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.code-block-copy {
    fill: #5fa784;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.guide-button {
    border: 2px solid #569CD7;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 55%;
    justify-items:stretch;
    margin-bottom: 15px;
    transition: .3s;
}

.guide-button:hover {
    background-color: rgba(59, 130, 246, 0.12);
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.288);
}

.guide-button-stack {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
    font-size: 1rem;
    line-height: 2rem;
    width: 45%;
  }
  ul li {
    font-family: 'Roboto';
  }
  ul li::before {
    content: "";
    width: calc(.55rem);
    height: calc(.55rem);
    background-color: #5fa784;
    border-radius: 50%;
    margin: 0.75rem 0 0 -2rem;
    position: absolute;
    text-align: center;
  }

ol {
    list-style: none;
    counter-reset: counter;
    font-size: 1rem;
    line-height: 2rem;
    width: 45%;
  }
  ol li {
    counter-increment: counter;
    font-family: 'Roboto';
  }
  ol li::before {
    content: counter(counter);
    width: calc(1.5rem);
    height: calc(1.5rem);
    line-height: calc(1.5rem);
    font-size: 13px;
    font-weight: 700;
    color: white;
    background-color: #5fa784;
    border-radius: 50%;
    margin: 0.25rem 0 0 -2.5rem;
    position: absolute;
    text-align: center;
  }
 
.inline-li {
    width: calc(1.5rem);
    height: calc(1.5rem);
    display: inline-block;
    line-height: calc(1.5rem);
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    background-color: #5fa784;
    border-radius: 50%; 
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 300px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: 4px 2px 12px rgba(0, 0, 0, 0.3);
}