h1 {
    width: 55%;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #569CD7;
    padding-top: 50px;
}

h2 {
    width: 55%;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #5fa784;
    padding-top: 40px;
}

h3 {
    width: 55%;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #5fa784;
    padding-top: 30px;
}

.mission {
    width: 40%;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #569CD7;
    padding-top: 40px;
}

.callout-caret {
    font-size: 30px;
    font-weight: bold;
    margin-right: 18px;
    color: #569CD7
}

.callout {
    padding: 10px 15px 10px 15px;
    background-color: rgba(59, 130, 246, 0.06);
    border-radius: 5px;
    border: 1px solid #569CD7;
    width: 40%;
    display: flex;
    flex-direction: row;
    color: #569CD7
}

.document {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.body {
    width: 55%;
    padding-top: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
}

.linker {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.linker-blue {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.linker-blue:hover {
    background-color: #569dd756;
}

.linker-3:hover {
    background-color: #569dd756;
}

.linker-3 {
    color: #569CD7;
    text-decoration: underline;
}

.linker:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.guide-button {
    border: 2px solid #569CD7;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 55%;
    justify-items:stretch;
    margin-bottom: 15px;
}

.guide-button:hover {
    background-color: rgba(59, 130, 246, 0.12);
}

.guide-button-stack {
    display: flex;
    flex-direction: column;
}