
<div class="document">
    <h1>
        Reset Password
    </h1>
    <mat-form-field appearance="outline" style="font-size: 14px; width:30%;
        font-size:12px; padding-left: 22%;" >
        <mat-label>New Password</mat-label>
        <input type="password" id="password_1" matInput
        [(ngModel)]="signUpPassword">
    </mat-form-field>
    <mat-form-field  appearance="outline" style="font-size: 14px; width:30%;
        font-size:12px; padding-left: 22%;">
        <mat-label>Confirm Password</mat-label>
        <input type="password" id="password_2" matInput
        [(ngModel)]="matchPassword" (input)="checkPasswords()"
        [disabled]="!canConfirmPassword()">
    </mat-form-field>

    <div *ngIf="!shouldDisplayWarning()">
        <p style="color:red; font-size:12px; padding-left: 22%; margin-top: 0;">
            Passwords must be at least 10 characters and contain at least 1 letter and number
        </p>
    </div>
  
    <div *ngIf="!checkPasswords()">
        <p style="color:red; font-size:12px; padding-left: 22%; margin-top: 0;">
            Passwords don't match!
        </p>
    </div>

    <div style="padding-left: 22%; margin-top: 45vh; position: absolute;">
        <button [disabled]="!validInputs()" (click)="resetPassword()" mat-button color="primary"
        style="background-color: #5FA784; color:white;">
            RESET PASSWORD
        </button>
    </div>
</div>
    