h1 {
  width: 55%;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #569CD7;
  padding-top: 50px;
  padding-left: 22%;
}

.document {
  flex-direction: column;
  display: flex;
  align-items: left;
  height: 74.75vh;
}
