<!-- 
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span style="font-weight: 700; font-size: 15px;">
          Audit Metadata
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let treeIDObject of auditMetadata | keyvalue" style="font-weight: 700;">
      {{treeIDObject.value.item.frontendName}}
      <button mat-button class="create-button transparent-hover" (click)="openItemCreation(treeIDObject.value)">
        Create New
      </button>
      <div *ngFor="let child of treeIDObject.value.IDColumns" style="margin-left: 2em;">
        {{child.frontendName}} 
      </div>
    </div>
  </mat-expansion-panel>
-->