<body style="overflow-x: hidden;" class="popup">
  <div class="top_decoration"></div>
  <h3 *ngIf="item.frontendName" style="margin-left:22px;margin-top:25px">"{{item.frontendName}}" Creation</h3>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Global Data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-reusable-template [feature]="globalSelectors" [appliedFilterSelections]="appliedFilterSelections"
        [page]="page" [returnableIDs]="globalReturnableIDs">
      </app-reusable-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          "{{item.frontendName}}" ID
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let itemToColumn of itemToColumns | keyvalue" style="font-weight: 700;">
        {{setupObject.items[itemToColumn.key].frontendName}}
        <button mat-button class="create-button transparent-hover" (click)="openItemCreation(itemToColumn.key)">
          Create New
        </button>
        <div *ngFor="let column of itemToColumn.value" style="margin-left: 2em;">
          {{column.frontendName}}
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          "{{item.frontendName}}" Attributes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let column of attributeColumns">
        {{column.frontendName}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div style="float: right; margin-top: 30px; padding-right: 30px; padding-bottom: 25px;">
    <button mat-button (click)="close()" style="margin-right: 10px;">
      Cancel Changes
    </button>
    <button mat-button (click)="close()" style="background-color: #569CD7; color: white;">
      Save & Back
    </button>
  </div>
</body>