<body style="overflow-x: hidden;" class="popup">
  <div class="top_decoration"></div>
  <h3 style="margin-left:22px;margin-top:25px">"{{data.frontendName}}" Creation</h3>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Global Data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <div *ngIf="panel.type == 'action'">
        <div *ngFor="let string of panel.content">
          <div class="secondary_separator"></div>
          {{string}}
        </div>
      </div> -->

      <app-reusable-template [feature]="globalSelectors" [appliedFilterSelections]="appliedFilterSelections"
        [page]="page">
      </app-reusable-template>

      <!-- <div *ngIf="panel.type == 'id'">
        <div *ngFor="let itemChild of idInfo">
          <div class="secondary_separator"></div>
          {{ itemChild.frontendName }}: {{ itemChild.information }}
        </div>
      </div>

      <div *ngIf="panel.type == 'attributes'">
        <app-reusable-template class="custom" [featureIndex]="featureIndex" [feature]="attributeSelectors[featureIndex]"
          [appliedFilterSelections]="appliedFilterSelections" [returnableIDs]="featureReturnableIDs">
        </app-reusable-template>
      </div> -->

    </mat-expansion-panel>
  </mat-accordion>
  <div style="float: right; margin-top: 30px; padding-right: 30px; padding-bottom: 25px;">
    <button mat-button (click)="close()" style="margin-right: 10px;">
      Cancel Changes
    </button>
    <button mat-button (click)="close()" style="background-color: #569CD7; color: white;">
      Save & Back
    </button>
  </div>
</body>