<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<div style="   width: 100%;
max-width: 1600px;
margin: 0 auto;
">
<div>
<div class="profile_info">
  <div style="width: 20px;" (mouseenter)="hoverOnAvatar()" (mouseleave)="hoverOnAvatar()">
  <img class="avatar" [class.profile_hover]="isAvatarHover" src="assets/default-user.png" alt="Avatar">
  <div *ngIf="isAvatarHover" (mouseenter)="hoverOnEditButton()">
      <img style="cursor: pointer; position: absolute; width: 20px; margin-left: -160px; margin-top:-35px" src="assets/edit_icon.png">
  </div>
</div>
<div>
    <!-- will eventually dynamically allocate position of name based on length -->
    <h1 style="position: absolute; font-size: 22px; margin-left: -195px; margin-top: 3px;">Jane Doe</h1>
</div>
  <h1 class="myInfoLabel">My Information</h1>
 <div>
<div style="display: inline-block;">
<p class='email_label'>email:</p>
<div>
<input style="margin-left: 80px; top: -35px;" disabled=disabled type="text" size="45" id="email_input" value="">
</div>
<img (click)="openDialog()" style="cursor: pointer; top:-73px;position: relative;left:105%;width: 25px;display:inline-block" src="assets/edit_icon.png">
</div>
</div>
<div style="display: inline-block; margin-top: -50px;">
<p class='password_label'>password:</p>
<div>
  <input style="margin-left: 80px; top:-35px" disabled=disabled type="password" size="45" id="password_input" value=""><br>
</div>
<img (click)="openDialog()" style="cursor: pointer; top:-73px;position: relative;left:105%;width: 25px;display:inline-block" src="assets/edit_icon.png">
</div>
<div>
<h2 class="preferencesLabel">Email Preferences</h2>
<div style="margin-left: -5%; margin-top: -5px;">
  <div class='wrapper'>
  <label class="container" id="gpf">Quarterly Updates
      <input class="checkmarklocation" type="checkbox" checked="checked">
      <span class="checkmark"></span>
  </label>
</div>
</div>
</div>
<h3 class="privacyLabel">Privacy</h3>
<div>
  <div style="margin-left: -5%; margin-top: -8px;">
    <div class='wrapper'>
    <label class="container" id="gpf">Email visible to public
        <input class="checkmarklocation" type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
  </div>
  </div>
  </div>
  <!-- <div id="audit-table-container">
    <ngx-datatable #table class="material" [headerHeight]="50" [footerHeight]="50"
        rowHeight="auto" [limit]="5" [rows]="rows" [scrollbarH]="true">
        <ngx-datatable-column *ngFor="let col of OrganizationColumns" [prop]="col.prop" [name]="col.prop">
        </ngx-datatable-column>
    </ngx-datatable>
</div> -->
  <div id="OrganizationTable" style="width: 800px; margin-left: -260px; margin-top: 50px;">
    <h3 style="margin-left: 315px;">
      My Organizations
    </h3>
    <button mat-button class="AddOrganization">Add</button>
    <ngx-datatable
      class="material"
      [rows]="rows"
      columnMode="force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight= "auto"
      [scrollbarH]="true"
      [limit]="5"
    >
    <ngx-datatable-column *ngFor="let col of OrganizationColumns" [prop]="col.prop" [name]="col.prop" [resizeable]="false"></ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div style="width: 800px; margin-left: -260px; margin-top: 50px;">
    <h3 style="margin-left: 315px;">
      Donations and Benefits
    </h3>
    <ngx-datatable
      class="material"
      [rows]="DonationRows"
      columnMode="force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [scrollbarH]="true"
      [limit]="5"
    >
    <ngx-datatable-column *ngFor="let col of DonationColumns" [prop]="col.prop" [name]="col.prop"></ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div style="border: 2px solid black;">
    <ngx-datatable
    class="material"
  [headerHeight]="119"
  [footerHeight]="'auto'"
  [columnMode]="'force'"
  [rows]="DonationRows"
  [rowHeight]="undefined"
  [limit]="10"
  >
  <ngx-datatable-column [maxWidth]="400">
<ng-template let-row="DonationRows" ngx-datatable-header-template>
 <!-- <div style="position: relative;"> -->
   <!-- <div class="mainDivider" style="margin-left: 90%;"></div> -->
 <!-- </div> -->
          <h1 style="margin-left:40%; font-size: 15px; padding-bottom: 10px;">General Info</h1>
          <!-- <div style="margin-top: 3px;"> -->
           <div class="divider"></div>
           <div style="position: relative;">
             <div class="indivDivider" style="margin-left: 40%;"></div>
           </div>
          <!-- </div> -->
          <div>
          <ngx-datatable class="newLayout" [rows]="[row]" [columnMode]="'force'" [headerHeight]="'auto'" [rowHeight]="400" [footerHeight]="undefined" style="margin-top: 0px;">
            <ngx-datatable-column
             *ngFor="let col of GeneralDonationColumns"
             [prop]="col.prop"
             [name]="col.prop"
             [resizeable]="false"
             [sortable]="true"
             [canAutoResize]="true" prop="Project">
             >
           </ngx-datatable-column>
                  <!-- <ngx-datatable-column [name]="'Status'"></ngx-datatable-column> -->
          </ngx-datatable>
          </div>
      </ng-template>
    
      <ng-template let-row="row" ngx-datatable-cell-template>
       <div class="mainDivider" style="margin-left: 37.5%; margin-top: -150px;"></div>
              <ngx-datatable class="newLayout" [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="35" style="margin-top:-10px" [footerHeight]="undefined">
                <ngx-datatable-column *ngFor="let col of GeneralDonationColumns" [prop]="col.prop" [name]="col.prop" [resizeable]="false"></ngx-datatable-column>
                <!-- <ngx-datatable-column [prop]="'status'"></ngx-datatable-column> -->
              </ngx-datatable>
      </ng-template>
  </ngx-datatable-column>
 
  <ngx-datatable-column>
      <ng-template let-row="DonationRows" ngx-datatable-header-template>
       <h1 style="margin-left:40%; font-size: 15px; padding-bottom: 10px;">Finances</h1>
       <div class="divider"></div>
          <div style="position: relative;">
           <div class="indivDivider" style="margin-left: 27%;"></div>
           <div class="indivDivider" style="margin-left: 60%;"></div>
         </div>
 
          <ngx-datatable class="newLayout" [rows]="[row]" [columnMode]="'force'" [headerHeight]="'auto'" [rowHeight]="undefined" [footerHeight]="undefined">
           <ngx-datatable-column *ngFor="let col of FinancialDonationColumns" [prop]="col.prop" [name]="col.prop" [resizeable]="false"></ngx-datatable-column>
           <!-- <ngx-datatable-column [name]="'Name'"></ngx-datatable-column> -->
          </ngx-datatable>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
              <ngx-datatable class="newLayout" [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'35'" style="margin-top:-10px" [footerHeight]="undefined">
               <ngx-datatable-column *ngFor="let col of FinancialDonationColumns" [prop]="col.prop" [name]="col.prop" [resizeable]="false"></ngx-datatable-column>
               <!-- <ngx-datatable-column [prop]="'name'"></ngx-datatable-column> -->
              </ngx-datatable>
      </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
  </div>
  <button mat-button class="deleteAccountButton">Delete Account</button>
</div>
</div>
 
 

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding-bottom: 100px;">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column display none-->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="0"></th>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="org">
    <th mat-header-cell *matHeaderCellDef> Project </th>
    <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="benes">
    <th mat-header-cell *matHeaderCellDef> Benefits </th>
    <td mat-cell *matCellDef="let element"> {{element.benefits}} </td>
  </ng-container>

  <ng-container matColumnDef="rec">
    <th mat-header-cell *matHeaderCellDef> Receipt </th>
    <td mat-cell *matCellDef="let element"> {{element.receipt}} </td>
  </ng-container>


  <!-- Header row first group -->
  
  <!-- Header row second group -->
  <ng-container matColumnDef="header-row-second-group">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> General Information </th>
  </ng-container>

  <ng-container matColumnDef="header-row-third-group">
    <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Finances </th>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="['header-row-second-group', 'header-row-third-group']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

