#body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    bottom: 30px;
}

#table-buttons {
    margin: 10px;
}

#select-button {
    background-color: rgba(223, 223, 223, 0.47);
    margin-right: 10px;
}

.mat-table {
    margin-top: 20px;
}

.mat-column-uploadStatus {
    flex: 0 0 10%;
}

.mat-column-auditName {
    cursor: pointer;
    outline: none;
}

