<!-- outside div body wrapper to make sure tab bar doesnt push down content -->
<div id="body">
    <div fxLayoutAlign="space-between center">
        <h4 style="font-weight: 700; font-size: 25px;">Audits</h4>
        <div id="table-buttons">
            <button (click)="changeEditability()" mat-button id="select-button">{{ buttonText }}</button>
            <button mat-icon-button [routerLink]="['/audit-summary']">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <mat-tab-group mat-align-tabs="start" #tabGroup>
        <!-- IN PROGRESS AUDITS -->
        <mat-tab label="Unsynced" disabled={{isTabDisabled(0)}}>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z4">
                <ng-container matColumnDef="Audit Name">
                    <mat-cell *matCellDef="let audit" (click)="navigate(['/audit-summary'])"
                        [ngStyle]="!isEditable?{'cursor': 'pointer'} : {'cursor': 'auto'}">
                        <input *ngIf="isEditable" class="checkmarklocation" type="checkbox" style="cursor: pointer;">
                        <span style="margin-left: 12px; font-weight: 500; font-size: 12px;">{{audit["Audit Name"]}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Time Audit Created">
                    <mat-cell *matCellDef="let audit">
                        <span style="margin-left: 12px; font-weight: 500; font-size: 12px;">{{audit["Time Audit Created"]}}</span>
                    </mat-cell>
                </ng-container>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-tab>
        <!-- SUBMITTED AUDITS -->
        <mat-tab label="Synced" disabled={{isTabDisabled(1)}}>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z4">
                <ng-container matColumnDef="Audit Name">
                    <mat-cell *matCellDef="let audit" (click)="navigate(['/audit-summary'])"
                        [ngStyle]="!isEditable?{'cursor': 'pointer'} : {'cursor': 'auto'}">
                        <input *ngIf="isEditable" class="checkmarklocation" type="checkbox" style="cursor: pointer;">
                        <span style="margin-left: 12px; font-weight: 500; font-size: 12px;">{{audit["Audit Name"]}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Time Audit Created">
                    <mat-cell *matCellDef="let audit">
                        <span style="margin-left: 12px; font-weight: 500; font-size: 12px;">{{audit["Time Audit Created"]}}</span>
                    </mat-cell>
                </ng-container>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-tab>
        <!-- ALL AUDITS -->
        <mat-tab label="All" disabled={{isTabDisabled(2)}}>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z4">
                <ng-container matColumnDef="Audit Name">
                    <mat-cell *matCellDef="let audit" (click)="navigate(['/audit-summary'])"
                        [ngStyle]="!isEditable?{'cursor': 'pointer'} : {'cursor': 'auto'}">
                        <input *ngIf="isEditable" class="checkmarklocation" type="checkbox" style="cursor: pointer;">
                        <span style="margin-left: 12px; font-weight: 500; font-size: 12px;">{{audit["Audit Name"]}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Time Audit Created">
                    <mat-cell *matCellDef="let audit">
                        <span style="margin-left: 12px; font-weight: 500; font-size: 12px;">{{audit["Time Audit Created"]}}</span>
                    </mat-cell>
                </ng-container>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-tab>
    </mat-tab-group>
    <br>
    <div *ngIf="isEditable" style="float: right; margin-top: 5px;">
        <button (click)="synchronize()" mat-button id="select-button">Synchronize</button>
        <button (click)="delete()" mat-button id="select-button">Delete</button>
    </div>
</div>