<div style="min-height: 400px; width: 300px; padding: 15px;overflow: hidden;">
    <div style="background-color: #569CD7; width: 414px; overflow-y: hidden; height: 22%; margin-left: -90px; position: relative; margin-top: -50px;">
        <h1 style="margin-left: 90px; margin-top: 47px; color: white;">Success</h1>
    </div>
    <img src="assets/successicon.png" alt="Success!" style="position: absolute; height: 30px; width: 30px; margin-left: 130px; margin-top: -55px; z-index: 1001;">
    <h2 style="margin-top: 30px; font-size: 17px; color: #757575;">Uploaded</h2>
    <div *ngFor="let upload of data">
        <p style="color: #757575; text-align: center;">{{ upload.name }} ({{ upload.size }} bytes)</p>
    </div>
    <div>
        <p style="color: #757575;">to our database!</p>
    </div>
</div>