<body>
    <div class="top_decoration"></div>
    <div class="cancel" (click)="close()">
        <span class="material-icons arrow_position">arrow_back</span>
        <p class="cancel_text">Cancel</p>
    </div>
    <div>
        <p class="add_text" (click)="updateFeatures()">Add</p>
    </div>
    <div id="toggle">
        <mat-button-toggle-group name="featureToggle" id="featureToggle" value="template">
            <mat-button-toggle (click)="changeStatus('roots')" value="all_features"> <span
                    style="margin-top: 200px;">All Root Features</span></mat-button-toggle>
            <mat-button-toggle (click)="changeStatus('template')" value="template">From Template</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div style="margin-top: 20px;" *ngIf="status=='template'">

        <mat-accordion>
            <div *ngFor="let audit of data">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="right-aligned-header">
                      <mat-panel-title>
                        {{ audit.name }}
                      </mat-panel-title>
                      <mat-panel-description>
                        <input [id]="audit.name+ ' checkbox'" class="checkmark" style="cursor: pointer;" type="checkbox" [checked]="audit.included" (click)="$event.stopPropagation()">
                      </mat-panel-description>
                    </mat-expansion-panel-header> 
                    <div *ngFor="let feature of audit.features">
                        <div class="secondary_separator"></div>
                        <div class="subfeature">
                            <p class="subfeature-right" style="margin-left: 25px;">{{ feature.name }}</p>
                            <input [id]="feature.name + ' checkbox'" class="subfeature-left checkmark" style="cursor: pointer; margin-top: 13px;" type="checkbox" [checked]="feature.included">
                        </div>
                    </div>   
        </mat-expansion-panel>                                    
            </div>
        </mat-accordion>
    </div>

    
    <div *ngIf="status=='roots'" style="margin-top: 20px;">
        <mat-accordion>
            <div *ngFor="let feature of all_root_features">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="right-aligned-header">
                        <mat-panel-title>
                            {{ feature }}
                        </mat-panel-title>
                    <mat-panel-description>
                        <input [id]="feature+ ' root checkbox'" class="checkmark" style="cursor: pointer;" type="checkbox" checked="checked" (click)="$event.stopPropagation()">
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</body>
