<body style="overflow-x: hidden;">
    <div class="top_decoration"></div>
    <h3 style="margin-left:22px;margin-top:25px">Bathroom Audit 1</h3>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let panel of dummy">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{panel.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let string of panel.content">
                <div class="secondary_separator"></div>
                {{string}}
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div style="float: right; margin-top: 30px; padding-right: 30px; padding-bottom: 25px;">
        <button mat-button (click)="close()" style="margin-right: 10px;">
            Cancel Changes
        </button>
        <button mat-button (click)="close()" style="background-color: #569CD7; color: white;">
            Save & Back
        </button>
    </div>
</body>
