.login {
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
}

body {
    overflow: hidden;
    background-position: center 120px;
}

.userNamePosition {
    margin-top: 80px;
}

mat-form-field {
    width: 90%;
}

.greyish {
    background-color: #569CD7;
    top: 81%;
    filter: grayscale(60%);
    cursor: auto;
    position: absolute;
}

.normal {
    background-color: #569CD7;
    top: 81%;
}

.logo {
    width: 150px;
    position: relative;
}

.closeButton {
    position: relative;
    background-color: white;
    border: none;
    font-size: 20px;
    outline-color: white;
    cursor: pointer;
}

.sign_up_label {
    font-size:30px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top:-66px;
}

/* .sign_up_button:hover {
    background: none;
} */

.mat-button.sign_up_button ::ng-deep .mat-button-focus-overlay {
    background: none;
  }
  

.button:hover {
    background-color: green !important;
}
  

mat-label {
    color: #888888;
  }

  
  
  

  
  