<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <img src="https://i.imgur.com/5ckgbgn.png" alt="The Data Grid Logo" height=400px width=350px> -->
    <!-- <img src="assets/logo.png" id="logo" alt="The Data Grid Logo" > -->

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card class="stat-card">
                <b style="font-weight: 600;">698</b>
                <p> Features Audited</p>
            </mat-card>
            <br>
            <mat-card class="stat-card">
                <b style="font-weight: 600;">23</b>
                <p>Registered Auditors</p>
            </mat-card>
        </div>
        <img style="height: 225px; width: 400px; margin: 20px;" src="assets/TDG.gif" id="logo" alt="The Data Grid Logo">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-card class="stat-card">
                <b style="font-weight: 600;">Last Conducted Audit</b>
                <p>29 Mins Ago</p>
            </mat-card>
            <br>
            <mat-card class="stat-card">
                <b style="font-weight: 600;">statistic</b>
                <p>bottom text</p>
            </mat-card>
        </div>
    </div>
    <!-- <h3>Mission</h3> -->
    <!-- <p>The Data Grid is designed to facilitate the reduction of non-efficient mechanisms and help us understand the effectiveness of sustainability initiatives over time </p> -->
    <h2>Public Auditing Tools</h2>
    <p>The Data Grid is an open platform for collecting, displaying,
        and analyzing data from facility audits to work toward a more sustainable campus.</p>
    <div class="divider"></div>



    <!-- <button mat-button style="background-color: rgb(86, 156, 215); color: white;" [routerLink]="'/audits'">Go to Data</button> -->
    <div class="divider"></div>
    <div>
        <h4>Observations</h4>
    </div>
    <div>
        <h4>Registered Auditors</h4>
    </div>
    <div></div>
    <div class="divider"></div>
    <h4> Summary of Services </h4>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="services-card">
            <p>Data Collection Infrastructure</p>
        </div>
        <div class="services-card">
            <p>Data Filtering and Management</p>
        </div>
        <div class="services-card">
            <p>Automated Data Analysis</p>
        </div>
        <div class="services-card">
            <p>Fundraising Platform</p>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>


</html>