<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <img src="https://i.imgur.com/5ckgbgn.png" alt="The Data Grid Logo" height=400px width=350px> -->
    <!-- <img src="assets/logo.png" id="logo" alt="The Data Grid Logo" > -->
    <img style="height: 225px; width: 400px;" src="assets/TDG.gif" id="logo" alt="The Data Grid Logo">
    <h2>Public Auditing Tools</h2>
    <!-- <button mat-button style="background-color: rgb(86, 156, 215); color: white;" [routerLink]="'/audits'">Go to Data</button> -->
    <div class="divider"></div>
    <div><h4>Observations</h4></div>
    <div><h4>Registered Auditors</h4></div>
    <div></div>
    <div class="divider"></div>

    <h3>Mission</h3>
    <p>The Data Grid is designed to facilitate the reduction of non-efficient mechanisms and help us understand the effectiveness of sustainability initiatives over time </p>
</body>


</html>