<html>

<body style="overflow-x: hidden;">
  <div class="top_decoration"></div>
  <br>
  <div id="toggle" class="main-width">
    <mat-button-toggle-group name="featureToggle" id="featureToggle" value="current">
      <mat-button-toggle [class.main-width]="currentWindowWidth > 900" [class.second-width]="currentWindowWidth > 800"
        [class.final-width]="currentWindowWidth > 600" (click)="changeStatus('roots')" value="all">
        <span style="margin-top: 200px;">Current Selections</span>
      </mat-button-toggle>
      <mat-button-toggle [class.main-width]="currentWindowWidth > 900" [class.second-width]="currentWindowWidth > 800"
        [class.final-width]="currentWindowWidth > 600" (click)="changeStatus('current')" value="current">
        All Root Features
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div style="margin-top: 20px; width: 90%; margin-left:25px" *ngIf="status=='current'">
    <!-- FROM TEMPLATE -->
    <mat-accordion>
      <div *ngFor="let audit of data[0]">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
              {{ audit.name }}
            </mat-panel-title>
            <mat-panel-description>
              <input [id]="audit.name+ ' checkbox'" class="checkmark" style="cursor: pointer;" type="checkbox"
                [checked]="audit.included" (click)="$event.stopPropagation()">
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let feature of audit.features">
            <div class="secondary_separator"></div>
            <div class="subfeature">
              <p class="subfeature-right" style="margin-left: 25px;">{{ feature.name }}</p>
              <input [id]="feature.name + ' checkbox'" class="subfeature-left checkmark"
                style="cursor: pointer; margin-top: 13px;" type="checkbox" [checked]="feature.included">
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>

  <!-- ALL ROOT FEATURES -->
  <div *ngIf="status=='roots'" style="margin-top: 20px; width: 90%; margin-left:25px">
    <mat-accordion>
      <div *ngFor="let feature of rootFeatures">
        <mat-expansion-panel disabled style="color: green;">
          <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
              {{ feature.name }}
            </mat-panel-title>
            <mat-panel-description>
              <input [id]="feature.name+ ' root checkbox'" class="checkmark" style="cursor: pointer;" type="checkbox"
                [checked]="isCurrentlySelected(feature.name)" (click)="$event.stopPropagation()">
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>

  <!-- action buttons -->
  <div style="float: right; margin-top: 30px; padding-right: 30px; padding-bottom: 25px;">
    <button mat-button (click)="close()" style="margin-right: 10px;">
      Cancel
    </button>
    <button mat-button (click)="onSubmit()" style="background-color: #569CD7; color: white;">
      Add
    </button>
  </div>
</body>

</html>